@model SelfControlPrototype.Models.Word

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="col-md-12">
                <input asp-for="OriginalWord" id="OriginalWord" placeholder="Word" />
            </div>
            <div class="col-md-12">
                <input asp-for="TranslatedWord" id="TranslatedWord" placeholder="Mean" />
            </div>
            <div class="col-md-12">
                <textarea asp-for="Sentence" id="Sentence" rows="4" maxlength="140" placeholder="Example Sentence"></textarea>
            </div>
        </div>          
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>