@model IEnumerable<Word>
@{
    ViewData["Title"] = "Word";
}
<h2>@ViewData["Title"]</h2>


<div>
    @await Html.PartialAsync("AddWordPartial", new Word())
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Original Word</td>
            <td>Tranlated Word</td>
            <td>Sentence</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OriginalWord</td>
            <td>@item.TranslatedWord</td>
            <td>@item.Sentence</td>
        </tr>
    }
</table>




